@page "/Home"

@using HermesTravel.Data
@using HermesTravel.Pages
@using DataAccessHermesTravel
@inject ISqlDataAccess _data
@inject IConfiguration _config
@inject User user
@inject NavigationManager helper

<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HermesTravel</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/site.css" rel="stylesheet" />
    <link href="HermesTravel.styles.css" rel="stylesheet" />

    <style>
        .img {
            border: 2px solid #06263d;
            border-radius: 10%;
            background-color: white;
        }

        .navbar {
            border-bottom: 2px solid #06263d;
        }

        .titleText {
            color: #06263d;
            font-size: 50px;
            padding-left: 15px;
            margin-top: 5px;
            margin-bottom: 35px;
        }

        .container {
            max-width: 500px;
        }

        .exitB {
            color: black;
            font-weight: bold;
            padding: 10px 57px;
        }

        .exitB:hover {
            transition: background-color 0.25s;
            background-color: #b04848;
            color: black;
            cursor: pointer;
        }

        .progress {
            height: 40px;
            width: 40%;
            border: 1px solid #06263d;
            margin: 0 auto;
        }

        .progress-bar {
            background-color: #f9932f;
        }

        .avatar {
            height: 240px;
            width: 240px;
            border: 2px solid #06263d;
            border-radius: 5%;
            margin: 10px auto 10px;
        }

        .userInfo {
            width: 240px;
            text-overflow: ellipsis;
            text-align: center;
            font-size: 30px;
            margin: 0 auto;
        }

        .spanF {
            background-color: #f9932f;
            border: 3px solid #06263d;
            border-radius: 10%;
            width: 150px;
            line-height: 40px;
            font-weight: bold;
            display: inline-block;
            text-align: center;
        }

        .buttons {
            margin-top: 25px;
        }

        .btn-aux {
            width: 320px;
        }

        @@media (max-width: 767.98px) {
            .container {
                max-width: 350px;
            }

            .avatar {
                height: 150px;
                width: 150px;
            }

            .userInfo {
                width: 150px;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="Home">
                <img src="./images/logo.png" width="50" height="75" class="img img-aux d-inline-block align-top" alt="">
                <span class="titleText fw-bold">HermesTravel</span>
            </a>
            <EditForm Model="logout" OnValidSubmit="@deleteUser">
                    <input class="btn btn-primary exitB" type="submit" value="Terminar Sessão"/>
            </EditForm>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="progress position-relative">
            <div class="progress-bar progress-bar-striped" role="progressbar"
                style="width: @user.calculateLevel().Item2;" aria-valuenow="@user.calculateLevel().Item3"
                aria-valuemin="0" aria-valuemax="100"></div>
            <span
                class="justify-content-center d-flex position-absolute w-100 fs-5">@user.calculateLevel().Item3%</span>
        </div>
        <img class="img-fluid avatar" src="@user.imagemURL">
        <div class="userInfo">
            <p class="fw-bold mt-2 mb-0">@user.nome</p>
            <p class="fs-5">@user.email</p>
            <p class="fs-5"><span class="spanF">Nível @user.calculateLevel().Item1</span></p>
            <p class="fs-5"><span class="spanF">Amigos @user.getFriends().Count()</span></p>
        </div>
    </div>

    <div class="container buttons">
        <a class="btn btn-secundary btn-aux fw-bold" href="Route">Rotas</a>
        <p class="mb-0"><a class="btn btn-secundary btn-aux fw-bold" href="InterestPoints">Pontos de Interesse</a></p>
        <p class="mb-0"><a class="btn btn-secundary btn-aux fw-bold" href="Account">Aceder perfil pessoal</a></p>
    </div>
</body>

</html>

@code {

    string logout = "";

    private async void deleteUser()
    {   
        string sqlS = "UPDATE mydb.utilizador SET login = 0 WHERE email=@Email";
        await _data.SaveData(sqlS, new { Email = user.email }, _config.GetConnectionString("default"));
        user.deleteUser();
        helper.NavigateTo("/", true);
    }
}