@page "/Route/FriendsHistory"

@using HermesTravel.Data
@using HermesTravel.Pages
@using DataAccessHermesTravel

@inject ISqlDataAccess _data
@inject IConfiguration _config
@inject User user
@inject NavigationManager helper

<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HermesTravel</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/site.css" rel="stylesheet" />
    <link href="HermesTravel.styles.css" rel="stylesheet" />

    <style>
        .img {
            border: 2px solid #06263d;
            border-radius: 10%;
            background-color: white;
        }

        .navbar {
            border-bottom: 2px solid #06263d;
        }

        .titleText {
            color: #06263d;
            font-size: 50px;
            padding-left: 15px;
            margin-top: 5px;
            margin-bottom: 35px;
        }

        .exitB {
            color: black;
            font-weight: bold;
            padding: 10px 57px;
        }

        .exitB:hover {
            transition: background-color 0.25s;
            background-color: #b04848;
            color: black;
            cursor: pointer;
        }

        .progress {
            height: 40px;
            width: 40%;
            border: 1px solid #06263d;
            margin: 0 auto;
        }

        .progress-bar {
            background-color: #f9932f;
        }

        .avatar {
            height: 240px;
            width: 240px;
            border: 2px solid #06263d;
            border-radius: 5%;
            margin: 10px 10px 10px;
        }

        .userInfo {
            text-overflow: ellipsis;
            text-align: left;
            font-size: 30px;
            margin: auto 0;
        }

        .userInfo>:nth-of-type(3) {
            margin: 40px 0 20px;
        }

        .userInfo>:nth-of-type(4) {
            margin: 20px 0 10px;
        }

        .spanF {
            background-color: #f9932f;
            border: 3px solid #06263d;
            border-radius: 10%;
            width: 150px;
            line-height: 40px;
            font-weight: bold;
            display: inline-block;
            text-align: center;
        }

        .spanF-big {
            background-color: #f9932f;
            border: 3px solid #06263d;
            border-radius: 10%;
            width: 400px;
            line-height: 40px;
            font-weight: bold;
            display: inline-block;
            text-align: center;
        }

        .btnTop {
            width: 280px;
        }

        hr {
            background-color: #06263d;
            border: 0 none;
            color: #06263d;
            height: 1px;
            margin: 20px auto;
            width: 75%;
        }

        .littleHR {
            width: 50%;
        }

        .buttons {
            margin-top: 20px;
        }

        .btn-aux {
            margin-top: 10px;
            width: 275px;
        }

        .vertical-scrollable>.row {
            margin: 25px 200px 0px 150px;
            position: absolute;
            width: 1000px;
            height: 400px;
            overflow-y: scroll;
        }

        .col-sm-8 {
            border: 2px solid #06263d;
            margin-left: 225px;
            padding: 5px 15px 0 15px;
            font-size: 20px;
        }

        .inputClass {
            margin: 0 auto;
            width: 400px;
        }

        @@media (max-width: 767.98px) {
            .container {
                max-width: 350px;
            }

            .avatar {
                height: 150px;
                width: 150px;
            }

            .userInfo {
                width: 150px;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="Home">
                <img src="./images/logo.png" width="50" height="75" class="img img-aux d-inline-block align-top" alt="">
                <span class="titleText fw-bold">HermesTravel</span>
            </a>
            <EditForm Model="logout" OnValidSubmit="@deleteUser">
                <input class="btn btn-primary exitB" type="submit" value="Terminar Sessão" />
            </EditForm>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row align-items-start">
            <div class="col-4">
                <div class="progress position-relative">
                    <div class="progress-bar progress-bar-striped" role="progressbar"
                        style="width: @user.calculateLevel().Item2;" aria-valuenow="@user.calculateLevel().Item3"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    <span
                        class="justify-content-center d-flex position-absolute w-100 fs-5">@user.calculateLevel().Item3%</span>
                </div>
                <img class="img-fluid avatar" src="@user.imagemURL">
            </div>
            <div class="col-4 align-self-center">
                <div class="userInfo">
                    <p class="fw-bold mt-2 mb-0">@user.nome</p>
                    <p class="fs-5">@user.email</p>
                    <p class="fs-5"><span class="spanF">Nível @user.calculateLevel().Item1</span></p>
                    <p class="fs-5"><span class="spanF">Amigos @user.getFriends().Count()</span></p>
                </div>
            </div>
            <div class="col-4 align-self-center">
                <div class="container">
                    <a class="btn btn-secundary btnTop fw-bold" href="Route">Voltar para as rotas</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container buttons">
        @if (status == 1)
        {
            <div class="mt-4">
                <p class="spanF-big fs-5">Email de amigo inválido!! Insira outro.</p>
            </div>
        }
        <EditForm Model="friend" OnValidSubmit="@getFriendRouteHistory">
            <div class="input-group mt-4 inputClass">
                <InputText @bind-Value="friend" class="form-control" type="text"
                placeholder="Insira o email de um amigo" required>
                </InputText>
            </div>
            <input class="btn btn-secundary btn-aux fw-bold" type="submit" value="Obter histórico" />
        </EditForm>
    </div>

    @if (status == 2)
    {
        <hr class="littleHR">

        <div class="container mt-4">
            <p class="fs-5"><span class="spanF-big">Histórico de: @friend</span></p>
        </div>

        <div class="container vertical-scrollable" tabindex="0">
            <div class="row text-start">
                @foreach (var rh in routeHistoric)
                {
                    <div class="col-sm-8">
                        @rh.Key -
                        @foreach (var r in rh.Value)
                        {
                            @r
                        }
                    </div>
                }
            </div>
        </div>
    }
</body>

</html>

@code {
    string logout = "";
    int status = 0;
    string friend = "";

    Dictionary<string, List<string>> routeHistoric = new Dictionary<string, List<string>>();

    private async void getFriendRouteHistory()
    {
        routeHistoric = new Dictionary<string, List<string>>();
        string sql = "SELECT utilizador_email FROM mydb.utilizador_has_utilizador WHERE utilizador_email = @Email AND utilizador_email1 = @Email1";
        List<string> sqlL = await _data.LoadData<string,dynamic>(sql, new { Email = user.email, @Email1 = friend }, _config.GetConnectionString("default"));
        string sql2 = "SELECT utilizador_email FROM mydb.utilizador_has_utilizador WHERE utilizador_email1 = @Email AND utilizador_email = @Email1";
        List<string> sqlL2 = await _data.LoadData<string,dynamic>(sql2, new { Email = user.email, @Email1 = friend }, _config.GetConnectionString("default"));
        // STATUS SE AMIGO INTRODUZIDO NÃO FOR AMIGO DELE OU NÃO EXISTIR
        if(sqlL2.Count == 0 && sqlL.Count == 0){
            status = 1;
        }
        else{
            status = 2;
            string sqlB = "SELECT rota_nome FROM mydb.utilizador_hashistorico_rota WHERE utilizador_email = @Email";
            List<string> sqlLB = await _data.LoadData<string,dynamic>(sqlB, new { Email = friend}, _config.GetConnectionString("default"));
            
            foreach (var r in sqlLB){
                string sqlpoints = "SELECT pontointeresse_nome FROM mydb.rota_has_pontointeresse WHERE rota_nome = @Nome";
                List<string> points = await _data.LoadData<string,dynamic>(sqlpoints, new { Nome = r}, _config.GetConnectionString("default"));
                List<string> routepoints = new List<string>();
                for (int i = 0; i < points.Count(); i++){
                    string str = "";
                    if (i + 1 == points.Count())
                        str = points[i];
                    else
                        str = points[i] + ", ";
                    routepoints.Add(str);
                }
                routeHistoric.Add(r, routepoints);
            }
        }
        helper.NavigateTo("/Route/FriendsHistory");
    }

    private async void deleteUser()
    {
        string sqlS = "UPDATE mydb.utilizador SET login = 0 WHERE email=@Email";
        await _data.SaveData(sqlS, new { Email = user.email }, _config.GetConnectionString("default"));
        user.deleteUser();
        helper.NavigateTo("/", true);
    }
}
